:root {
    --border_radius: 8px;
    --title_height: 30px
}
html, body {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

.sidebar {
    background-color: rgb(61, 174, 244);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 15px;
}

.main-content {
    background-color: rgb(216, 228, 233);
    box-shadow: inset 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 15px;
    padding-top: 15px;
}

.main-content > .projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main-content > .announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 30px;
}

.main-content > .trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 30px;
}

.main-content > .projects > .title {
    margin: 15px 15px 0;
    height: var(--title_height);
}

.main-content > .projects > .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.main-content > .projects > .cards > .card {
    border: 1px solid purple;
    padding: 15px;
    margin: 0 15px 15px;
    height: 150px;
    border-radius: var(--border_radius);
    border-style: none;
    background-color: white;
    box-shadow: inset 8px 0 gold;
}

.main-content > .announcements > .title {
    margin-top: 15px;
    height: var(--title_height);
}

.main-content > .announcements > .cards {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: var(--border_radius);
    background-color: white;
}

.main-content > .announcements > .cards > div.divider {
    height: 1px;
    background-color: lightgray;
    margin: 0 20px;
}

.main-content > .announcements > .cards > .card {
    padding: 20px;
    height: 80px;
}

.main-content > .trending > .title {
    margin-top: 15px;
    height: var(--title_height);
}

.main-content > .trending > .cards {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: var(--border_radius);
    margin-bottom: 20px;
}

.main-content > .trending > .cards > .card {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main-content > .trending > .cards > .card > img {
    height: 50px;
    grid-row: 1 / 3;
    align-self: center;
}

.main-content > .trending > .cards > .card > p {
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 30px;
}

.search-and-user {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 1fr 2fr;
}

.user-and-buttons {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar > .nav, 
.sidebar > .info {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: .1fr 7fr;
    gap: 22px;
    margin-bottom: 60px;
    margin-left: 20px;
}

.sidebar > .title {
    padding: 0;
    display: grid;
    grid-template-columns: .1fr 7fr;
    gap: 10px;
    margin-bottom: 50px;
    margin-left: 8px;
}

.sidebar {
    color: white;
}

.sidebar > .title > span:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 600;
    align-self: center;
}

.sidebar > .title > span.material-symbols-outlined {
    font-size: 50px;
}

.nav > li, .info > li {
    font-weight: 600;
}

.search-and-user > img {
    box-sizing: border-box;
    height: 50px;
    margin-left:auto;
}

.search-and-user > input {
    height: 25px;
    align-self: center;
    background-color: rgb(216, 228, 233);
    border-radius: 10px;
    border-style: none;
    padding: 10px;
}

.search-and-user > span.search {
    align-self: center;
    margin: auto;
}

.search-and-user > span.notification {
    align-self: center;
    margin-left: auto;
    font-variation-settings:
    'FILL' 0;
}

.search-and-user > span.name {
    align-self: center;
    margin: auto;
}

.user-and-buttons > img {
    box-sizing: border-box;
    height: 60px;
    align-self: center;
    margin: auto;
}

.user-and-buttons > div {
    align-self: center;
}

.user-and-buttons > div > p:first-child {
    font-size: .7rem;
    margin: 0;
}

.user-and-buttons > div > p:last-child {
    font-size: 1.2rem;
    margin: 0;
}

.user-and-buttons > button {
    margin: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(61, 174, 244);
    color: white;
    font: inherit;
    font-size: .8rem;
    height: 30px;
    align-self: flex-end;
}


